.nutritional-card {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 5px;
    position: relative;
  

    &::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        overflow: hidden;
        
    }

    .nutritional-card--header{
        position: relative;
        z-index: 2;
        color: white;
    }
    .nutritional--card-body{
        color: white;
    }

}