.card {
  height: 250px;
  width: 320px;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
 
  grid-template-rows:1fr 1fr 2fr;

  ;

  &::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .card-body {
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    grid-row: 3;
    display: flex;
    flex-direction: column;


  


    .title {
      font-size: 1.5rem;
      border-bottom: 1px solid;
      margin: 0 1rem 0 1rem;
    overflow: hidden;
      h5 {
        margin: 5px;
        padding: 0;

      }
    }

    .footer {
      margin: 1rem 1rem 0 1rem;
      font-size: .5rem;
      display: flex;
      justify-content: space-between;
      align-configs: center;

      .footer-info {
        display: flex;
        align-configs: start;
        justify-content: center;
        flex-direction: column;

      }

      .info {
        button {
          font-size: 1rem;
          background-color: rgb(0, 121, 200);
          color: white;
          border: none;
          padding: 10px;
          border-radius: 5px;
        }
      }

    }


  }


}