
<div class="card" style="background-image: url('{{config.image}}');">
    <div class="card-body">
        <div class="title">
            <h5 class="card-title">{{ config.title }}</h5>
        </div>
        <div class="footer">
             <div class="footer-info">
                <span> {{config.type}}</span> 
                <span> {{config.date}} - {{config.schedule}}</span>
             </div>
            <div class="info">
              <button>Más información</button>
            </div>
        </div>
    </div>
</div>